*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#container{
    display: flex;
    background-color: black;
    height: 100%;

}